# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/

# virtualenv
.venv
venv/
ENV/

# PyCharm
.idea/

# database
db/tracks_prod.db
