<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">

    <title>Please, sign up or log in</title>

</head>

<body>
    <form method="post">

        <label for="from">От</label>
        <input type="date" name="from" id="from" required/>
        <label for="from">До</label>
        <input type="date" name="to" id="to" required/>
        <label for="trip_name">Имя поездки</label>
        <input type="text" name="trip_name" id="trip_name" title=""/>

        <label for="fms_key">Ключ трека на findmespot</label>
        <input type="text" name="fms_key" id="fms_key"/>
        <input name="submit" class="btn" type="submit" value="Отправить" />
    </form>

</body>

</html>


